<!DOCTYPE html>
<html lang="ja-JP">
<script>
// ドメイン変更に伴い、前ドメインのアクセスの場合リダイレクト
(function () {
    var host = location.host || location.hostname;
    var path = location.pathname || '/blog';
    if (!host) { return; }
    if (host === 'satoru-t-0403.boo.jp') {
        alert('***！リダイレクト***\n\n申し訳ありません。\nhttp://satoru-t-0403.boo.jp はただいま機能していないので正しいページに遷移します');
        location.href = 'http://sssatoru-t.info' + path;
        return;
    } else {
        return;
    }
})();
</script>
<head>
<meta charset="utf-8">
<meta name="keywords" content="<%= meta.keywords %>">
<meta name="description" content="<%= meta.description %>">
<meta name="author" content="田中暁">
<meta property="og:site_name" content="さささWeblog">
<meta property="og:type" content="website">
<!-- <meta property="og:title" content="田中暁(Satoru Tanaka)のブログ"> -->
<meta property="og:url" content="http://sssatoru-t.info/blog/">
<meta property="og:description" content="<%= meta.description %>">
<meta property="og:image" content="http://sssatoru-t.info/blog/img/me_02.jpg">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Montserrat&effect=3d-float" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="lib/font-awesome.css">
<link rel="stylesheet" type="text/css" href="lib/sanitize.css">
<link rel="stylesheet" type="text/css" href="css/common.css">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-85808519-1', 'auto');
  ga('send', 'pageview');

</script>
<script type="text/javascript" src="js/global.js"></script>
<title>さささWeblog</title>
</head>
<body>
<header>
    <%- include('includes/common/header.ejs', {page: page}) %>
</header>
<section id="top">
    <article>
        <ul class="top-article">
            <%
            article.forEach(function (noteData) {
                var upDate = new Date(Number(noteData.update));
                var yyyy = upDate.getFullYear() + '/';
                var mm = upDate.getMonth() + 1;
                    mm = '0' + mm;
                    mm = mm.slice(-2) + '/';
                var dd = '0' + upDate.getDate();
                    dd = dd.slice(-2);
                var yyyymmdd = yyyy + mm + dd;
                var h = '0' + upDate.getHours();
                    h = h.slice(-2) + ':';
                var mi = '0' + upDate.getMinutes();
                    mi = mi.slice(-2);
                var time = h + mi;
                var firstText = noteData.noteText.split(/(<\/div>)/)[0] + '</div>';
            %>
            <li>
                <a href="viewData/<%= noteData.update %>">
                    <dl class="contents-item">
                        <div class="icon-list">
                            <% if (noteData.notebook === '技術') { %>
                            <i class="fa fa-globe" aria-hidden="true"></i>
                            <% } else if (noteData.notebook === 'ラーメン') { %>
                            <i class="fa fa-cutlery" aria-hidden="true"></i>
                            <% } %>
                        </div>
                        <dt>
                            <h2><%= noteData.noteTitle %></h2>
                        </dt>
                        <dd>
                            <%- firstText %>
                        </dd>
                        <div class="pubDate"><i class="fa fa-upload" aria-hidden="true"></i>　<%= yyyymmdd %> <%= time %></div>
                    </dl>
                </a>
            </li>
            <%
            });
            %>
        </ul>
    </article>
    <div class="dummy_article"></div>
    <aside>
        <%- include('includes/common/aside.ejs', {page: page, news: news})%>
    </aside>
</section>
<footer>
    <% include includes/common/footer.ejs %>
</footer>
<script>
    common.top();
</script>
</body>
</html>
