<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Language" content="ja">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="lib/sanitize.css">
<link rel="stylesheet" type="text/css" href="css/common.css">
<!-- <script type="text/javascript" src="lib/handlebars.min.js"></script> -->
<script type="text/javascript" src="js/global.js"></script>
<!-- <script type="text/javascript" src="js/common.hb.js"></script> -->
<!-- <script type="text/javascript" src="js/common.doXhr.js"></script> -->
<!-- <script type="text/javascript" src="js/page.js"></script> -->
<title>BLOG_SatoruTanaka</title>
</head>
<body>
<header>
    <%- include('includes/common/header.ejs', {page: 'top'}) %>
</header>
<section id="container">
    <article>
        <ul class="top-article">
            <%
            data.forEach(function (noteData) {
                var upDate = new Date(Number(noteData.update)).toDateString();
            %>
            <li>
                <a href="viewData/<%= noteData.update %>" target="_blank">
                    <img src="img/ic_android_24px.svg">
                    <img src="https://sandbox.evernote.com/shard/s1/res/15c1e425-eb86-4fa3-85a0-e2506b90ec0e">
                    <dl class="contents-item">
                        <dt>
                            <h2><%= noteData.noteTitle %></h2>
                        </dt>
                        <dd>
                            <div><%- noteData.noteText%></div>
                        </dd>
                        <div class="pubDate">***<%- upDate %> 更新しています***</div>
                    </dl>
                </a>
            </li>
            <%
            });
            %>
        </ul>
    </article>
    <div class="dummy_article"></div>
    <aside>
        <div><%- include('includes/common/aside.ejs')%></div>
    </aside>
</section>
<footer>
    <% include includes/common/footer.ejs %>
</footer>
<script type="text/javascript" src="js/top.js"></script>
</body>
</html>
