<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="keyword" content="ラーメン, Web, 田中暁, SatoruTanaka, HTML, CSS, JavaScript, Evernote">
<meta name="description" content="Webで豊かな生活を送ろうをテーマに、フロントエンドエンジニアとしての技術を記事を残そうと思っております。Webサーバやアプリ事情など関連技術、大好きラーメン情報なども載せていきます。">
<meta name="author" content="田中暁">
<meta property="og:site_name" content="さささWeblog">
<meta property="og:type" content="article">
<!-- <meta property="og:title" content="田中暁(Satoru Tanaka)のブログ"> -->
<meta property="og:url" content="http://satoru-t-0403.boo.jp/myblog/<%= directory %>/">
<meta property="og:description" content="Webで豊かな生活を送ろうをテーマに、フロントエンドエンジニアの技術をメインに記事を残そうと思っております。Webサーバやアプリ事情など関連技術、大好きラーメン情報などお役に立つ情報を載せていきます。よろしくお願いします。">
<meta property="og:image" content="http://satoru-t-0403.boo.jp/myblog/img/me_02.jpg"><!-- このページのイメージ -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Montserrat&effect=3d-float" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../../lib/font-awesome.css">
<link rel="stylesheet" type="text/css" href="../../lib/sanitize.css">
<link rel="stylesheet" type="text/css" href="../../css/common.css">
<script type="text/javascript" src="../../js/global.js"></script>
<title><%= data.noteTitle %>__さささWeblog</title>
</head>
<body>
    <%
    var pageData = {page: 'detail'};
    var articleData = data;
    %>
<header>
    <%- include('../includes/common/header.ejs', pageData) %>
</header>
<section id="detail">
    <article class="detail-article"><%- include('../includes/tmp/article.ejs', articleData) %></article>
    <div class="dummy_article"></div>
    <aside><%- include('../includes/common/aside.ejs', pageData)%></aside>
</section>
<footer>
    <% include ../includes/common/footer.ejs %>
</footer>
<script>
    common.detail();
</script>
</body>
</html>
