<!DOCTYPE html>
<html lang="ja-JP">
<script>
// ドメイン変更に伴い、前ドメインのアクセスの場合リダイレクト
(function () {
    var host = location.host || location.hostname;
    var path = location.pathname || '/blog';
    if (!host) { return; }
    if (host === 'satoru-t-0403.boo.jp') {
        alert('***！リダイレクト***\n\n申し訳ありません。\nhttp://satoru-t-0403.boo.jp はただいま機能していないので正しいページに遷移します');
        location.href = 'http://sssatoru-t.info' + path;
        return;
    } else {
        return;
    }
})();
</script>
<head>
<meta charset="utf-8">
<meta name="keywords" content="<%= meta.keywords %>, <%= article.noteTitle %>">
<meta name="description" content="<%= (article.noteText.split(/(<\/div>)/)[0].replace(/<.+>/, '')) ? (article.noteText.split(/(<\/div>)/)[0].replace(/<.+>/, '')) : meta.description %>">
<meta name="author" content="田中暁">
<meta property="og:site_name" content="さささWeblog">
<meta property="og:type" content="article">
<meta property="og:url" content="http://sssatoru-t.info/blog/<%= article.update %>/">
<meta property="og:description" content="<%= (article.noteText.split(/(<\/div>)/)[0].replace(/<.+>/, '')) ? (article.noteText.split(/(<\/div>)/)[0].replace(/<.+>/, '')) : meta.description %>">
<meta property="og:image" content="http://sssatoru-t.info/blog/img/me_02.jpg">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Montserrat&effect=3d-float" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../../lib/font-awesome.css">
<link rel="stylesheet" type="text/css" href="../../lib/sanitize.css">
<link rel="stylesheet" type="text/css" href="../../css/common.css">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-85808519-1', 'auto');
  ga('send', 'pageview');

</script>
<script type="text/javascript" src="../../js/global.js"></script>
<title><%= article.noteTitle %>__さささWeblog</title>
</head>
<body>
<%
var nextArticle = beforeDir;
var prevArticle = afterDir;
%>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.8&appId=1583642838612725";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<header>
    <%- include('../includes/common/header.ejs', {page: page}) %>
</header>
<section id="detail">
    <article class="detail-article">
        <%- include('../includes/tmp/article.ejs', article) %>
        <nav id="paging">
            <ul>
                <li>
                    <% if (prevArticle) { %>
                    <a class="paging-prev" href="../<%= prevArticle %>/">
                        <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
                    </a>
                    <% } %>
                </li>
                <li><a href="/blog">TOP</a></li>
                <li>
                    <% if (nextArticle) { %>
                    <a class="paging-next" href="../<%= nextArticle %>/">
                        <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                    </a>
                    <% } %>
                </li>
            </ul>
        </nav>
    </article>
    <div class="dummy_article"></div>
    <aside><%- include('../includes/common/aside.ejs', {page: page, news: news, affiliate: affiliate}) %></aside>
</section>
<footer>
    <% include ../includes/common/footer.ejs %>
</footer>
<script>
    common.detail();
</script>
</body>
</html>
